@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    user-select: none;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    z-index: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
.game-header {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 3px solid #8a2be2;
}

.header-content h1 {
    font-family: 'Merriweather', serif; /* Example font, ensure you import or choose a suitable one */
    font-size: 2.5em;
    color: #f1e9e5;
    text-shadow: 0px 0px 10px #ff8c00, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff8c00, 0 0 60px #ff8c00, 0 0 70px #ff8c00;
}

.user-info {
    margin-top: 10px;
}

.user-name, .user-currency {
    font-size: 1.2em;
    display: block;
}

.user-currency {
    color: #adff2f;
    font-weight: bold;
}
.game-main {
    padding: 20px;
    text-align: center;
    background: #191d3a;
}

.roll-card-button {
    background-color: #8a2be2; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.roll-card-button:hover {
    background-color: #9b30ff; 
}

.card-placeholder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.card {
    width: 250px;
    background-color: #f0f0f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-front {
    padding: 10px;
}

.character-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-title {
    color: #4a5278; 
    font-size: 1.5em;
    margin: 10px 0;
}

.card-details {
    color: #333;
}

.card-stat, .card-rarity {
    margin: 5px 0;
}

.header {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.active {
    display: block;
}
.inactive {
    display: none;
}
/* card design */
#trigger {
    margin-bottom: 50px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.card-container {
    perspective: 1000px;
    width: 340px;
    height: 480px;
    margin: auto;
    position: relative;
}
.card-container.inactive {
    display: none;
}
.card-container.active {
    display: block;
}
.card {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    border-radius: 10px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front {
    background: url('../img/zoro-wano-bg.webp') center/cover no-repeat;
    position: absolute;
    text-align: center;
    padding: 20px;
}

.character-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 60%;
    margin-bottom: 10px;
}
.character-image.active {
    display: flex;
}
.character-image.inactive {
    display: none;
}

.character-image img {
    width: 300px;
    height: 300px;
}

.title {
    margin-top: 5px;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 7px #000;
    font-family: 'Rubik Doodle Shadow', system-ui;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    width: 280px;
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.stats li {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.rarity {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.rarity.sr {
    bottom: 5px;
    right: 20px;
    background: linear-gradient(45deg, #ff8c00, #ffa07a, #ff4500, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 28px;
}

.rarity.ssr {
    bottom: 5px;
    right: 20px;
    background: linear-gradient(45deg, #ffd700, #fffacd, #ffdf00, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 30px;
}
.rarity.ur {
    background: linear-gradient(45deg, #5f78f8, #c83bff, #ff00ff, #7700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 35px;
    color: #ffd700;
    bottom: 5px;
    right: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-back {
    background: #fff;
    color: #333;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}

.card-back-ascend.inactive {
    display: none;
}

.is-flipped {
    transform: rotateY(180deg);
}

/* user design */

.user {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-name {
}
.user-list {
    display: flex;
    flex-direction: column;
}
.user-item {
}
.user-materials-trigger {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    cursor: pointer;
    position: relative;
}
.user-materials-container {
    position: absolute;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    left: -150%;
    top: 50px;
    background-color: rgba(129, 129, 129, 0.425);
    z-index: 1;
    cursor: default;
}
.user-materials-container.inactive {
    display: none;
}
.user-materials-container.active {
    display: flex;
}
.materials-list {
}
.materials-item {
}