@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* global styles */
* {
    user-select: none;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    z-index: 0;
}
html, body {
    width: 100%;
    height: 100%; 
    overflow: hidden;
}
body {
    background-image: url('../img/page-bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.body-card {
    position: absolute;
    top: 30%;
    left: 45%;
}
.close-spin.inactive {
    display: none;
}
body .close-spin {
    width: 40px;
    height: 40px;
    background-color: #ffeed5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 50px;
    cursor: pointer;
    border: 4px solid gray;
    transition: all .3s;
    position: absolute;
    right: 100px;
    top: 50px;
}
.close-spin:hover {
    background-color: gray;
    border: 2px solid #ffeed5;
}
.close-spin p {
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}
.active {
    display: flex;
}
.inactive {
    display: none;
}
/* header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 125px;
    margin: 20px 0 0 0;
}
.user {
    width: 110px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.user-name {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-style: normal;
    font-size: 27px;
    color: #fff;
    text-shadow: 
      1.4px 1.4px 0 rgb(119, 113, 113), 
      -1.4px -1.4px 0 rgb(119, 113, 113),
      1.4px -1.4px 0 rgb(119, 113, 113), 
      -1.4px 1.4px 0 rgb(119, 113, 113);
}
.banners {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 125px;
    position: relative;
    transition: all .3s;
}
.banner:hover {
    transform: scale(1.1);
}
.bannerImg {
    width: 100%;
    height: 100%;
}
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 340px;
}
.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    height: 25%;
    background-color: rgba(80, 80, 80, 0.404);
    border: 1px solid #ffffff27;
    border-radius: 20px;
}
.currency-img {
    width: 27px;
    height: 95%;
    margin-left: 3px;
}
.user-currency {
    text-align: center;
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    color: #ffeed5;
    font-size: 20px;
}
.currencyRedirect {
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    background-color: #ffeed5;
    border-radius: 50%;
    transition: all .3s;
}
.currencyRedirect:hover {
    background-color: #cec6ba;
}
.pity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 25%;
    background-color: rgba(80, 80, 80, 0.404);
    border: 1px solid #ffffff27;
    border-radius: 20px;
}
.pity-img {
    width: 27px;
    height: 95%;
    margin-right: 3px;
    transform: translateX(-8px);
}
.pity-currency {
    text-align: center;
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    color: #ffeed5;
    font-size: 18px;
}

/* main */
.main {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* main container */
.main-container {
    border-radius: 10px;
    width: 70%;
    height: 800px;
    background-image: url('../img/banner-container-img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container-promote {
    background-color: #3c7dc4;
    border-radius: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 25px;
    position: absolute;
    top: -5px;
    left: -5px;
}
.container-promote p {
    font-family: "Namdhinggo", serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #fff;
}
.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}
.container-title {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-size: 50px;
    color: #29304b;
    margin-bottom: 30px;
}
.container-title span {
    color: #6e82c9;
    text-shadow: 
      0.8px 0.8px 0 white, 
      -0.8px -0.8px 0 white, 
      0.8px -0.8px 0 white, 
      -0.8px 0.8px 0 white;
}
.text-prob {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.7px;
    color: #475575;
    text-shadow: 
      0.6px 0.6px 0 white, 
      -0.6px -0.6px 0 white, 
      0.6px -0.6px 0 white, 
      -0.6px 0.6px 0 white;
    margin-bottom: 10px;
}
.prob-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 70px;
    background-color: rgba(113, 203, 255, 0.61);
    margin-bottom: 10px;
}
.prob-container p {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.5px;
    text-align: center;
}
.prob-info {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #475575;
    text-shadow: 
      0.4px 0.4px 0 white, 
      -0.4px -0.4px 0 white, 
      0.4px -0.4px 0 white, 
      -0.4px 0.4px 0 white;
    margin-bottom: 10px;
}
.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
}
.container-center img {
    width: 480px;
    height: 600px;
}
.char-description {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 50px;
    background-color: rgba(113, 203, 255, 0.61);
    bottom: 120px;
    right: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.char-description h2 {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1.3px;
    color: #fff;
    text-shadow: 
      1px 1px 0 gray, 
      -1px -1px 0 gray, 
      1px -1px 0 gray, 
      -1px 1px 0 gray;
}
.char-description .char-rarity {
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    background: linear-gradient(45deg, #ffd700, #fffacd, #ffdf00, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    transform: translateY(-3px);
}
.char-description div {
    width: 70%;
    height: 20px;
    background-color: #38425d;
    transform: translateY(-3px);
}
.char-sub-text {
    text-align: center;
    color: #d3bd8e;
    font-family: "Namdhinggo", serif;
    font-weight: 700;
}
.container-right {
    width: 450px;
}
/* main-footer */
.footer-container {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left {
    display: flex;
    height: 100%;
    width: 450px;
    gap: 40px;
    margin-left: 100px;
}
.footer-offers {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e1d5;
    width: 130px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.199);
    transition: all .3s;
}
.footer-offers:hover {
    background-color: #d6d2c3;
}
.footer-offers p {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-size: 20px;
    color: #3a4154;
}
.footer-right {
    transform: translateY(-38px);
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wish-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 250px;
    height: 70px;
    overflow: hidden;
    border-radius: 10px;
    background-image: url('../img/summon-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}
.wish-button h3 {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    color: #b5a08d;
    font-size: 24px;
}
.wish-button div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wish-button img {
    width: 23px;
    height: 23px;
}
.wish-amount {
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-size: 20px;
    margin-left: 5px;
}
.wish-amount.insufficient {
    color: #fe5d40;
}
.wish-amount.sufficient {
    color: #b5a08d;
}
/* shop */
.shop-container.inactive {
    display: none;
}
.shop-container.active {
    padding-top: 40px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #3b3737b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.shop-top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.close-shop {
    width: 40px;
    height: 40px;
    background-color: #ffeed5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 50px;
    cursor: pointer;
    border: 4px solid gray;
    transition: all .3s;
}
.close-shop:hover {
    background-color: gray;
    border: 2px solid #ffeed5;
}
.close-shop p {
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}
.shop-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4%;
    flex-wrap: wrap;
    width: 100%;
}
.shop-item {
    background-image: url('../img/shop-banner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}
.shop-item:hover {
    transform: scale(1.1);
}
.shop-amount {
    color: #3a4154;
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-size: 30px;
    transform: translateY(-40px);
}
.shop-currency {
    color: #3a4154;
    font-family: "Namdhinggo", serif;
    font-weight: 800;
    font-size: 30px;
    transform: translateY(-16px);
}
/* card design */
#trigger {
    margin-bottom: 50px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.card-container {
    perspective: 1000px;
    width: 340px;
    height: 480px;
    margin: auto;
    position: relative;
}
.card-container.inactive {
    display: none;
}
.card-container.active {
    display: block;
}
.card {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    border-radius: 10px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front {
    background: url('../img/') center/cover no-repeat;
    position: absolute;
    text-align: center;
    padding: 20px;
}

.character-image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 60%;
    margin-bottom: 10px;
}
.character-image.active {
    display: flex;
}
.character-image.inactive {
    display: none;
}

.character-image img {
    width: 300px;
    height: 300px;
}

.title {
    margin-top: 5px;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 7px #000;
    font-family: 'Rubik Doodle Shadow', system-ui;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    width: 280px;
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.stats li {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.rarity {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.rarity.sr {
    bottom: 5px;
    right: 20px;
    background: linear-gradient(45deg, #ff8c00, #ffa07a, #ff4500, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 28px;
}

.rarity.ssr {
    bottom: 5px;
    right: 20px;
    background: linear-gradient(45deg, #ffd700, #fffacd, #ffdf00, #ffd700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    font-size: 30px;
}
.rarity.ur {
    background: linear-gradient(45deg, #5f78f8, #c83bff, #ff00ff, #7700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 35px;
    color: #ffd700;
    bottom: 5px;
    right: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-back {
    background: #fff;
    color: #333;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}

.card-back-ascend.inactive {
    display: none;
}

.is-flipped {
    transform: rotateY(180deg);
}